<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
	<authorization>
		<allow users="*" />
	</authorization>
	<!--<httpErrors errorMode="Detailed" />-->
    <!--<asp scriptErrorSentToBrowser="true" />-->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648" />
      </requestFiltering>
    </security>
	<!--
    <handlers>
		<remove name="Python Django handler" />
        <add name="Python Django Handler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\inetpub\wwwroot\EmergingRisk\venv\Scripts\python.exe|C:\inetpub\wwwroot\EmergingRisk\venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
    </handlers>
	-->
        <tracing>
            <traceFailedRequests>
                <add path="*">
                    <traceAreas>
                        <add provider="ASP" verbosity="Verbose" />
                        <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose" />
                        <add provider="ISAPI Extension" verbosity="Verbose" />
                        <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI,WebSocket" verbosity="Verbose" />
                    </traceAreas>
                    <failureDefinitions statusCodes="500" />
                </add>
            </traceFailedRequests>
        </tracing>
  </system.webServer>
   <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" />
    <httpRuntime requestValidationMode="2.0" />
  </system.web>
</configuration>
<!---->