<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<handlers>
			<remove name="Python Django handler" />
			<add name="Python Django Handler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\inetpub\wwwroot\EmergingRisk\venv\Scripts\python.exe|C:\inetpub\wwwroot\EmergingRisk\venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
		</handlers>
		<httpErrors existingResponse="PassThrough" />
	</system.webServer>
</configuration>
<!---->