/* Add any custom styles here */
.table-responsive {
    overflow-x: auto;
}

.form-check {
    margin-bottom: 0.5rem;
}

.required label:after {
    content: " *";
    color: red;
}


.hover-shadow {
    transition: all 0.3s ease;
}

.hover-shadow:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1) !important;
}

.text-purple {
    color: #6f42c1;
}

.card-body.p-3 {
    padding: 1.5rem !important;
}

.fa-2x {
    font-size: 1.75em;
}

.g-4 > * {
    margin-bottom: 1.5rem;
}

.btn-outline-primary {
    border-width: 2px;
    font-weight: 500;
}

.badge-risk-critical {
    background-color: #dc3545; /* Rojo (Critical) */
    color: white;
}
.badge-risk-high {
    background-color: #ff0000; /* Amarillo (High) */
    color: black;
}
.badge-risk-medium {
    background-color: #17a2b8; /* Azul claro (Medium) */
    color: white;
}
.badge-risk-low {
    background-color: #28a745; /* Verde (Low) */
    color: white;
}

.alert-success { color: green; }
.alert-error { color: red; }

.theme-item {
    transition: all 0.3s ease;
}
#themeList {
    transition: opacity 0.3s ease;
}

.bg-orange,
.badge-orange {
    background-color: #fd7e14 !important; 
    color: #fff !important;
}