<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
	<httpErrors errorMode="Detailed" />
    <asp scriptErrorSentToBrowser="true"/>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648" />
      </requestFiltering>
    </security>
    <handlers>
		<remove name="Python Django handler" />
        <add name="Python Django handler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\inetpub\wwwroot\EmergingRisk\venv\Scripts\python.exe|C:\inetpub\wwwroot\EmergingRisk\venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
  </system.webServer>
   <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" />
    <httpRuntime requestValidationMode="2.0" />
  </system.web>
</configuration>